$font-main: 'Josefin Sans', 'Helvetica Neue', Helvetica, sans-serif;

html, body {
  max-height: 100vh;
  max-width: 100vw;
  font-family: $font-main;
}
button,
input,
optgroup,
select,
textarea {
  font-family: $font-main;
}
.wrapper {
  font-size: 14px;
}
nav {
  $nav-height: 40px;
  height: $nav-height;
  padding: 8px;
  border-bottom: 1px solid black;
  background-color: tomato;
  h1 {
    margin: 0;
    line-height: $nav-height;
    display: inline-block;
  }
  span {
    float: right;
    line-height: $nav-height;
    display: inline-block;
  }
}
#message-list {
  height: calc(100vh - 131px);
  padding: 16px 8px;
  overflow: auto;
  .message {
    padding: 4px 0;
    display: flex;
    animation-duration: 0.3s;
    animation-name: fadein;
    .username, .content {
      display: inline-block;
      padding: 4px 0;
    }
    .username {
      flex: 15;
      margin-right: 16px;
      overflow: hidden;
      font-weight: 700;
    }
    .content {
      flex: 85;
      .thumbnail {
        border: 1px solid #ccc;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), 0 3px 4px rgba(0, 0, 0, 0.15);
        max-width: 60%;
        border-radius: 4px;
        padding: 5px;
        display: block;
        margin: 0 0 10px;
        &:hover {
          border-color: #2222aa;
        }
        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 4px;
        }
      }
    }
    &.system {
      font-weight: 400;
      font-style: italic;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

footer {
  height: 41px;
  border-top: 1px solid black;
  background-color: tomato;
  display: flex; align-items: center;
  input {
    border: 1px solid black;
    margin: 4px;
    height: 20px;
    padding: 4px 8px;
  }
  #username {
    flex: 3;
  }
  #new-message {
    flex: 7;
  }
}